<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<script src='js/underscore.js'></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src='js/backbone.js'></script>
</head>
<body>
<h3>Backbone</h3>
<script id="personTemplate" type="text/x-underscore-template">
    <strong><%= name %></strong> (<%= age %>) - <%= title %>
</script>
<div>Content:</div>
<div id='viewtemplate'>Insert here</div>
<script src='js/main.js'></script>

</body>
</html>